
.card {
    width: 300px;
    height: 400px;
    padding: 10px;
    border-radius: 15px;
    background: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.6s;
    
    &:hover {
        box-shadow: 1px 1px 5px rgba(0, 0, 0.1);
    }

    & img {
        width: 200px;
        height: 250px;
    }


}