.card {
    width: 300px;
    border: 1px solid green;
    padding: 10px;
    text-align: center;
    background: red; 
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: flex;
    gap: 15px;

    & button {
        border-radius: 8px;
        width: 70px; 
    }
}